:root {
	--color-primary: #640a34;
	--color-secondary: #6b0101;
	--color-text: black;
	--primary-color: #fff2d4;
	--secondary-color: #948b7c;
	--ui-green: #99b681;
	--ui-red: #eb243b;
	--ui-pink: #ff8d7c;
    --ui-yellow : #dbc70d;
    --transparent: rgba(0, 0, 0, 0);
	--border-exp : #00ddff;
	--bg-difficulty : #0b0116;
	--bg-grid : #ff00ffcd;
	--bg-accents : #0400ff32;
	--exp-bg : #948b7cd7;
	--form : #000dffc8;
	--font-dropdowncolor : #0dc0e0;
	--font-colorexp : white;
	--hovercolor-submit : rgba(18, 219, 68, 0.908);
	--easy : lime;
	--medium : #de9a06;
	--hard : #9f0808;
}
/* FONTS */
@font-face {
	font-family: basic;
	src: url('../assets/fonts/xlmonoalt.ttf');
}

@font-face {
	font-family: titles;
	src: url('../assets/fonts/night_wolf.ttf');
}

@font-face {
	font-family: main-title;
	src: url('../assets/fonts/funky_star.ttf');
}

@font-face /* Police rétro */
{
	font-family: retro;
	src : url('../assets/fonts/PressStart2P-Regular.ttf')
}

* {
    padding: 0;
    margin: 0;
    font-weight: normal;
    box-sizing: border-box;
}

html, body {
	width: 100%;
	min-height: 100vh;
}

h1 {
    font-family: main-title;
	padding: 10px;
}

a {
	cursor: pointer;
}

#sidebar {
	display: flex;

	position: relative;

	width: 100%;
	min-height: 100vh;

    background-color: rgb(247, 125, 230);
}

header {
	display: flex;
	flex-wrap: wrap;

	position: relative;

	padding: 10px 10px;

	background-color: var(--primary-color);
}

header h1 {
	width: 100%;
	text-align: center;
}

header hr {
	width: 90%;
	margin: 10px;
}

header>div {
	display: flex;

	border-collapse: collapse;
}

header div a {
	display: flex;
	justify-content: center;
	align-items: center;

	text-align: center;
	font-family: titles;
}

main {
    display: flex;
    justify-content: center;
	align-self: stretch;

	position: relative;

    width: 80%;
    min-height: 80%;

    margin: 10px auto;
}

footer {
	width: 100%;
	height: 200px;
	background-color: black;
}

@media only screen and (orientation: landscape) {
	#sidebar {
		flex-direction: row;
		width: 100%;
		min-height: 100vh;
	}

	header {
		align-content: start;

		width: 180px;
	}

	header>div {
		flex-direction: column;
		justify-content: start;

		width: 80%;
		height: 85%;
		max-height: 500px;
		margin: 5px auto;

		border-collapse: collapse;
	}

	header div a {
		height: 8%;
		margin: 5px 0;
		width: 100%;
	}
	
	main {
		width: 80%;
		min-height: 80%;
	}
}

@media only screen and (orientation: portrait) {
	#sidebar {
		flex-direction: column;
		width: 100%;
		min-height: 100vh;
	}

	header {
		justify-content: center;

		width: 100%;
		height: 150px;

		margin: 0 auto ;
	}

	header>div {
		justify-content: space-evenly;

		width: 85%;
		height: 30%;

		border-collapse: collapse;
	}

	header div a {
		width: 15%;
		max-width: 100px;
		height: 100%;
		margin: 0 5px;
	}

	main {
		width: 80%;
		min-height: 80%;
		
		flex-grow: 1;
	}
} 