body 
{
    margin: 0;
    padding: 0;
    background-color: var(--bg-difficulty) !important;
    overflow: hidden;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

form
{
    font-family: retro;
    position: relative;
    z-index: 999;
    text-align: center;
    background-color: var(--form) !important;
    color: var(--primary-color);
    text-shadow : 2px 2px 3px var(--color-text);
    padding : 20px;
    border-radius: 10px;
    border: var(--primary-color) 2px solid;
    letter-spacing: 2px;
}

.grid 
{
    position: fixed;
    top: -100px; /* je met des mesures négatives, pour que la translation ne se voit pas et que sa fasse un effet d'animation*/
    left: -100px; 
    right: -100px;
    bottom: -100px;
    
    background-image: 
        linear-gradient(to right, var(--bg-grid) 2px, transparent 2px),
        linear-gradient(to bottom, var(--bg-grid) 2px, transparent 2px) !important;
    
    /* la taille des carrés dans le fond */
    background-size: 50px 50px ;

    animation: moveGrid 2s linear infinite;
}

/* le filtre */
.overlay {
    position: absolute;
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
    background: radial-gradient(circle, transparent 20%, var(--bg-accents) 80%);
    pointer-events: none;
}

#difficulty-choice
{
    margin : 5%;
    padding : 10px 20px;
    font-family: retro;
    border-radius: 20px;
    border: var(--primar) 2px solid;
    letter-spacing: 2px;
}

option[value=ez]
{
    color : var(--easy);
}

option[value=meh]
{
    color : var(--medium);
}

option[value=hard]
{
    color : var(--hard);
}

.diff-tuto
{
    position: relative;
    display : block;
    width: fit-content;
    margin : 10px 10px 10px 47%;
}

.explications
{
    display: none;
    position: absolute;
    top : 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--exp-bg);
    padding : 12px 16px;
    min-width: none;
    color: var(--font-colorexp);
    text-shadow: 2px 1px var(--bg-grid);
    border-radius: 20px;
    border: var(--border-exp) 1px solid;
}

.diff-tuto:hover .explications
{
    display: block !important;
    z-index: 1;
    width: 500px;
}

.onoff
{
    display: flex;
    flex-direction: column;
    padding : 20px;
    gap: 10px;
}

.onoff input[type="checkbox"]
{
    background-image : 
        -webkit-linear-gradient(hsla(0,0%,0%,.1), hsla(0,0%,100%,.1)),
        -webkit-linear-gradient(left, #f66 50%, rgb(102, 255, 125) 50%);
        
    background-size: 100% 100%, 200% 100%;
    background-position: 0 0, 15px 0;
    border-radius: 25px;
    box-shadow : 
        inset 0 1px 4px hsla(0,0%,0%,.5),
        inset 0 0 10px hsla(0,0%,0%,.5),
        0 0 0 1px hsla(0,0%,0%,.1),
        0 -1px 2px 2px hsla(0,0%,0%,.25),
        0 2px 2px 2px hsla(0,0%,100%,.75);
    
    cursor: pointer;
    height: 25px;
    padding-right: 25px;
    width: 75px;
    appearance: none;
    transition: 0.25s;
                 
}

.onoff input[type="checkbox"]:after
{
    background-color: #eee;
    background-image: -webkit-linear-gradient(hsla(0,0%,100%,.1), hsla(0,0%,0%,.1));
    border-radius: 25px;

    box-shadow: 
        inset 0 1px 1px 1px hsla(0,0%,100%,1),
        inset 0 -1px 1px 1px hsla(0,0%,0%,.25),
        0 1px 3px 1px hsla(0,0%,0%,.5),
        0 0 2px hsla(0,0%,0%,.25);
    
    content: '';
    display: block;
    height: 25px;
    width: 50px;
}

.onoff input[type="checkbox"]:checked
{
    background-position: 0 0, 35px 0;
    padding-left: 25px;
    padding-right: 0;
}

.validate
{
    font-family: retro;
    padding: 10px;
    margin: 10px;
    transition : transform 1s ease;
}

.validate:hover
{
    background-color: var(--hovercolor-submit);
    color: var(--primary-color);
    transform: scale(1.1);
}

#sound
{
    position: fixed;
    top: 0;
    right : 0;
    padding : 10px;
    z-index: 10;
    transition: transform 1s ease;
}

#sound:hover
{
    transform: scale(1.3);
    background: radial-gradient(circle, rgba(34, 0, 255, 0.71) 20%, transparent 80%);
}


@keyframes moveGrid 
{
    from 
    {
        transform: translate(0, 0);
    }
    to 
    {
        /* Déplacement d'exactement un carreau (c'est sa qui rend l'animation fluide)*/
        /* X positif = droite, Y négatif = haut */
        transform: translate(-50px, -50px); 
    }
}

@media (max-height : 634px)
{
    .explications 
    {
        font-size: 10px;
        width : 300px;
    }
    
}

@media (max-height : 500px)
{
    .explications
    {
        font-size: 8px;
    }

    #sound
    {
        z-index: 1000;
    }

    h2,.diff-tuto,p,.onoff,.validate, #difficulty-choice
    {
        font-size: 12px;
        padding: 2px;
    }
}

@media (max-height : 400px)
{
    .help
    {
        height: 16px;
        width: 16px;
    }
    h2,.diff-tuto,p,.onoff,.validate, #difficulty-choice
    {
        font-size: 8px;
        padding: 2px;
        display: inline-block;
        right : 25%
    }
}
