:root {
	--color-primary: #640a34;
	--color-secondary: #6b0101;
	--color-text: black;
	--primary-color: #fff2d4;
	--secondary-color: #948b7c;
	--ui-green: #99b681;
	--ui-red: #eb243b;
	--ui-pink: #ff8d7c;
    --ui-yellow : #dbc70d;
    --transparent: rgba(0, 0, 0, 0);
	--border-exp : #00ddff;
	--bg-difficulty : #0b0116;
	--bg-grid : #ff00ffcd;
	--bg-accents : #0400ff32;
	--exp-bg : #948b7cd7;
	--form : #000dffc8;
	--font-dropdowncolor : #0dc0e0;
	--font-colorexp : white;
	--hovercolor-submit : rgba(18, 219, 68, 0.908);
	--gridsettingcolor1 : /*rgba(212, 5, 253, 0.651);*/ rgba(0, 0, 0, 0.596);
	--gridsettingcolor2 : /*rgba(38, 2, 240, 0.384);*/ rgba(73, 2, 114, 0.568);
	--gridsettingcolor3 : rgba(2, 85, 211, 0.561);
	--greencolorCheckBox : rgb(102, 255, 125);
	--redcolorCheckBox : #f66;
	--orange : #de9a06;
	--sidebar-color : rgb(247, 125, 230);
	--footer-color : black;
	--hover-effect-muteButton1 : rgba(34, 0, 255, 0.71);
	--leaderboardPrimary-color : rgba(4, 65, 232, 0.654);
	--leaderboardBorder : rgb(0, 0, 0);
	--defaultbrightness : 1;
}
/* FONTS */
@font-face {
	font-family: basic;
	src: url('../assets/fonts/xlmonoalt.ttf');
}

@font-face {
	font-family: titles;
	src: url('../assets/fonts/night_wolf.ttf');
}

@font-face {
	font-family: main-title;
	src: url('../assets/fonts/funky_star.ttf');
}

@font-face /* Police rétro */
{
	font-family: retro;
	src : url('../assets/fonts/PressStart2P-Regular.ttf')
}

* {
    padding: 0;
    margin: 0;
    font-weight: normal;
    box-sizing: border-box;
}

html, body {
	width: 100%;
	min-height: 100%;
	filter: brightness(var(--defaultbrightness));
	transition: filter 0.1s linear;
}

h1 {
    font-family: main-title;
	font-size: 50px;
}

a {
	cursor: pointer;
	text-decoration: none;
	color: black;
}

a:visited:active
{
	color : var(--color-text);
}

.selectedPage
{
	border : 3px var(--ui-red) solid;
}

#sidebar {
	display: flex;

	position: relative;

	width: 100%;
	min-height: 100vh;

    background-color: var(--sidebar-color);
}

header {
	display: flex;
	flex-wrap: wrap;

	position: relative;

	padding: 10px 10px;

	background-color: var(--primary-color);
}

header h1 {
	width: 100%;
	text-align: center;
}

header hr {
	width: 90%;
	margin: 10px;
}

header>div {
	display: flex;

	border-collapse: collapse;
}

header div a {
	display: flex;
	justify-content: center;
	align-items: center;

	text-align: center;
	font-family: titles;
	font-size: 30px;
}

main {
    display: flex;
    justify-content: center;
	align-self: stretch;

	position: relative;

    width: 80%;
    min-height: 80%;

    margin: 10px auto;
}

footer {
	width: 100%;
	height: 200px;

	background-color: var(--footer-color)
}

@media only screen and (orientation: landscape) {
	#sidebar {
		flex-direction: row;

		width: 100%;
		min-height: 100vh;
	}

	header {
		align-content: start;

		width: 220px;
	}

	header>div {
		flex-direction: column;
		justify-content: start;

		width: 80%;
		height: 85%;
		max-height: 500px;
		
		margin: 5px auto;

		border-collapse: collapse;
	}

	header div a {
		width: 100%;
		height: 8%;

		margin: 20px 0;
	}
	
	main {
		width: 80%;
		min-height: 80%;
	}
}

@media only screen and (orientation: portrait) {
	#sidebar {
		flex-direction: column;

		width: 100%;
		min-height: 100vh;
	}

	header {
		justify-content: center;

		width: 100%;
		min-height: 160px;

		margin: 0 auto ;
	}

	header>div {
		justify-content: space-evenly;
		flex-wrap: wrap;

		width: 95%;
		height: 30%;

		border-collapse: collapse;
	}

	header div a {
		width: fit-content;
		min-width: 100px;
		height: 100%;

		margin: 0 20px;
	}

	main {
		width: 80%;
		min-height: 80%;
		
		flex-grow: 1;
	}
} 