#ig_game_grid {
    position: relative;

    width: 64vw;
    height: 48vw; 
    max-width: 96vh;
    max-height: 72vh;
    aspect-ratio: 8/6;
    flex-shrink: 0;
    /*
    if want a full screen mode : 
    width: 100vw;
    height: 75vw; 
    max-width: 132vh;
    max-height: 99vh;
    */

    border-collapse: separate;
    border: 10px solid #E8E8FF;
    border-radius: 20px;
    border-spacing: 0;

    background-color: #222250;

    overflow: hidden;
    box-sizing: content-box;
}

#ig_game_grid * {
    border: 0;
    border-collapse: separate;
    border-spacing: 0;
}

#ig_game_grid tr {
    height: 15%;
}

#ig_game_grid td {
    align-items: center;
    justify-content: center;

    width: 10%;
    outline: 2px solid #E8E8FF;
}

#ig_game_grid .box {
    display: none;
    align-items: center;

    position: relative; 

    width: 100%;
    height: 100%;

    transform: scale(102%);

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    z-index: 0;
}

#ig_game_grid .box * {
    display: block;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    margin: 0 auto;
}

#ig_game_grid .explored {
    display: flex !important;
}

#ig_game_grid .normal {
    background-image: url(../assets/ingame/nc_320-edited_normal.png);
}

#ig_game_grid .hole {
    background-image: url(../assets/ingame/nc_320-edited_hole.png);
}

#ig_game_grid .near_hole {
    background-image: url(../assets/ingame/nc_320-edited_near_hole.png);
}

#ig_game_grid .near_wumpus {
    position: absolute;

    left: 25%;

    width: 50%;
    height: 50%;

    background-image: url(../assets/ingame/nc_320-resized_near_wumpus.png);
    z-index: 2;
}

#ig_game_grid .wumpus {
    position: absolute;

    left: 25%;

    width: 50%;
    height: 50%;

    background-image: url(../assets/ingame/nc_320-resized_wumpus.png);
    z-index: 4;
}

#ig_game_grid .bat {
    position: absolute;

    left: 25%;

    width: 50%;
    height: 50%;

    background-image: url(../assets/ingame/nc_320-resized_bat.png);
    z-index: 5;
}

#ig_game_grid #player {
    display: block !important;
    position: absolute;

    width: 50%;
    height: 50%;

    top: 25%;
    left: 0;
    bottom: 0;
    right: 0;

    background-image: url(../assets/ingame/nc_320-resized_player.png);
    text-shadow: 0 0 3px #000000;;

    z-index: 10;
}

#ig_game_grid .shooted {
    position: absolute;

    width: 100%;
    height: 100%;

    background-image: url(../assets/ingame/nc_320-created_blshoot.png);
    z-index: 3;
}


#ig_game_grid .top-1 {
    top: 0 !important;
    left: 50% !important;
}

#ig_game_grid .bot-1 {
    align-self: flex-end;
}

#ig_game_grid .top-2 {
    top: 0 !important;
    right: 50% !important;
}

#ig_game_grid .bot-2 {
    align-self: flex-end;
}

#ig_game_grid .corridor_1 div:first-child, #ig_game_grid  .corridor_1 div:last-child,
#ig_game_grid .corridor_2 div:first-child, #ig_game_grid  .corridor_2 div:last-child {
    position: absolute;

    width: 100%;
    height: 100%;
}

#ig_game_grid .corridor_1 div:first-child {
    display: none;

    background-image: url(../assets/ingame/nc_320-edited_corridor_1_top.png);

    z-index: 2;
}

#ig_game_grid .corridor_1 div:last-child {
    display: none;

    background-image: url(../assets/ingame/nc_320-edited_corridor_1_bot.png);

    z-index: 1;
}

#ig_game_grid .corridor_2 div:first-child {
    display: none;

    background-image: url(../assets/ingame/nc_320-edited_corridor_2_top.png);

    z-index: 2;
}

#ig_game_grid .corridor_2 div:last-child {
    display: none;

    background-image: url(../assets/ingame/nc_320-edited_corridor_2_bot.png);

    z-index: 1;
}