#ig_game_container {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
}

#ig_moving {
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.ig_btn_move {
    width: 6.4vw;
    height: 6.4vw; 
    max-width: 9.6vh;
    max-height: 9.6vh;
    background-size: 100%;
}

/* .keyboard-arrows
{
    display: grid;
    grid-template-columns: repeat(3, 50px);
    grid-template-rows: repeat(3, 50px);
    gap: 40px;
    justify-content: center;
    align-items: center;
    position: relative;
} */

#ig_btn_move-top
{
    /* grid-column: 2;
    grid-row: 1; */
    image-rendering: pixelated;
    background-image: url("../assets/UpArrow.png");
}

#ig_btn_move-bot
{
    /* grid-column: 2;
    grid-row: 3; */
    image-rendering: pixelated;
    background-image: url("../assets/DownArrow.png");
}

#ig_btn_move-left
{
    /* grid-column: 1;
    grid-row : 2; */
    image-rendering: pixelated;
    background-image: url("../assets/LeftArrow.png");
}

#ig_btn_move-right
{
    /* grid-column : 3;
    grid-row : 2; */
    image-rendering: pixelated;
    background-image: url("../assets/RightArrow.png");
}

@media only screen and (aspect-ratio > 8/5) {
	#ig_game_container {
        flex-direction: row;
    }

    #ig_moving {
        flex-direction: column;
        
        width: 8vw;
        max-width: 12vh;
        height: 32vw;
        max-height: 48vh;

        border-radius: 0 20px 20px 0;
    }

    .ig_btn_move {
        margin: min(0.8vw, 1.2vh) min(1.6vw, 2.4vh);
    }
}

@media only screen and (aspect-ratio <= 8/5) {
    #ig_game_container {
        flex-direction: column;
    }

    #ig_moving {
        flex-direction: row;

        width: 32vw;
        max-width: 60vh;
        height: 8vw;
        max-height: 12vh;

        border-radius: 20px 0 0 20px;
    }

    .ig_btn_move {
        margin: min(1.6vw, 2.4vh) min(0.8vw, 1.2vh);
    }
}