#ig_game_container {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
}

#ig_moving {
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.ig_btn_move {
    cursor: var(--cursor-pointer);

    border: 4px solid #E8E8FF;
    border-radius: 10px;
    
    background-color: #4D7AFF;
    background-size: contain;
    background-size: 100%;
    background-origin: content-box;
    background-repeat: no-repeat;
    background-position: center;
}

.ig_btn_move:hover {
    background-color: #B060FF;
}

#ig_btn_move:focus {
  box-shadow: 0 0 5px #B060FF;
}

#ig_shoot {
    -webkit-appearance: none;
    appearance: none;

    background-image : url("../assets/cursors/resized_tile_0055.png");
}

#ig_shoot:checked {
    background-color: #B060FF;
    background-image : url("../assets/cursors/resized_tile_0126.png");
}

/* #ig_shoot {
    background-image : url("../assets/cursors/resized_tile_0055.png");
}

#ig_shoot:checked {
    background-image : url("../assets/cursors/resized_tile_0126.png");
} */


#ig_btn_move-top
{
    /* grid-column: 2;
    grid-row: 1; */
    /* image-rendering: pixelated; */
    background-image: url("../assets/cursors/resized_tile_0070.png");
}

#ig_btn_move-bot
{
    /* grid-column: 2;
    grid-row: 3; */
    /* image-rendering: pixelated; */
    background-image: url("../assets/cursors/resized_tile_0071.png");
}

#ig_btn_move-left
{
    /* grid-column: 1;
    grid-row : 2; */
    /* image-rendering: pixelated; */
    background-image: url("../assets/cursors/resized_tile_0073.png");
}

#ig_btn_move-right
{
    /* grid-column : 3;
    grid-row : 2; */
    /* image-rendering: pixelated; */
    background-image: url("../assets/cursors/resized_tile_0072.png");
}

@media only screen and (aspect-ratio > 8/5) {
	#ig_game_container {
        flex-direction: row;
    }

    #ig_moving {
        flex-direction: column;
        
        width: 12vw;
        max-width: 18vh;
        height: 48vw;
        max-height: 72vh;

        border-radius: 0 20px 20px 0;
    }

    .ig_btn_move {
        width: 8vw;
        height: 8vw;
        aspect-ratio: 1;
        max-width: 13vh;
        max-height: 13vh;

        margin: min(0.8vw, 1.2vh) min(1.6vw, 2.4vh);
        padding: min(0.4vw, 0.6vh) min(0.8vw, 1.2vh);
    }
}

@media only screen and (aspect-ratio <= 8/5) {
    #ig_game_container {
        flex-direction: column;
    }

    #ig_moving {
        flex-direction: row;

        width: 64vw;
        max-width: 96vh;
        height: 15vw;
        max-height: 22vh;

        border-radius: 20px 0 0 20px;
    }

    .ig_btn_move {
        width: 12vw;
        height: 12vw;
        aspect-ratio: 1;
        max-width: 16vh;
        max-height: 16vh;

        margin: min(1.6vw, 2.4vh) min(0.8vw, 1.2vh);
        padding: min(0.8vw, 1.2vh) min(0.4vw, 0.6vh);
    }
}