/* TODO : réussir a mettre le css, pour toutes les pages sur la même fiche CSS */

/* CSS common to every html page */
:root {
	--text-color: black;
	--text-secondary: #545a5f;
	--primary-color: #fff2d4;
	--secondary-color: #948b7c;

	--ui-green: #99b681;
	--ui-red: #eb243b;
	--ui-pink: #ff8d7c;
    --ui-yellow : #dbc70d;

    --transparent: rgba(0, 0, 0, 0);

	--border-exp : #00ddff;
	--bg-difficulty : #0b0116;
	--bg-grid : #ff00ffcd;
	--bg-accents : #0400ff32;
	--exp-bg : #948b7cd7;
	--form : #000dffc8;
	--font-dropdowncolor : #0dc0e0;
	--font-colorexp : white;
	--hovercolor-submit : rgba(18, 219, 68, 0.908);
	--gridsettingcolor1 : /*rgba(212, 5, 253, 0.651);*/ rgba(0, 0, 0, 0.596);
	--gridsettingcolor2 : /*rgba(38, 2, 240, 0.384);*/ rgba(73, 2, 114, 0.568);
	--gridsettingcolor3 : rgba(2, 85, 211, 0.561);
	--greencolorCheckBox : rgb(102, 255, 125);
	--redcolorCheckBox : #f66;
	--orange : #de9a06;
	--sidebar-color : rgb(247, 125, 230);
	--footer-color : black;
	--hover-effect-muteButton1 : rgba(34, 0, 255, 0.71);
	--leaderboardPrimary-color : rgba(4, 65, 232, 0.654);
	--leaderboardBorder : rgb(0, 0, 0);
	--defaultbrightness : 1;

    /* Those are for the background in the settings page. */
    --maskImageSettingsColorBg : radial-gradient(black 75%, transparent 75%);
	--bgImageSettingsAnimationColor : radial-gradient(rgb(255, 255, 255) 75%, transparent 75%), radial-gradient(white 75%, transparent 75%);
	--gridColorSettings : repeating-linear-gradient(45deg, var(--gridsettingcolor1) 1%,  var(--gridsettingcolor2) 50%), repeating-linear-gradient(180deg, var(--gridsettingcolor1) 1%,  var(--gridsettingcolor2) 50%),repeating-linear-gradient(315deg, var(--gridsettingcolor1) 1%,  var(--gridsettingcolor2) 50%);
}
/* FONTS */
@font-face {
	font-family: basic;
	src: url('../assets/fonts/xlmonoalt.ttf');
}

@font-face {
	font-family: titles;
	src: url('../assets/fonts/night_wolf.ttf');
}

@font-face {
	font-family: main-title;
	src: url('../assets/fonts/funky_star.ttf');
}

@font-face /* Police rétro */
{
	font-family: retro;
	src : url('../assets/fonts/PressStart2P-Regular.ttf')
}

* {
    padding: 0;
    margin: 0;
    font-weight: normal;
    box-sizing: border-box;
}

html, body {
	width: 100%;
	min-height: 100%;
	filter: brightness(var(--defaultbrightness));
	transition: filter 0.1s linear;
}

h1 {
    font-family: main-title;
	font-size: 50px;
}

a {
	cursor: pointer;
	text-decoration: none;
	color: var(--text-color);
}

#sidebar {
	display: flex;

	position: relative;

	width: 100%;
	min-height: 100vh;

    background-color: var(--sidebar-color);
}

header {
	display: flex;
	flex-wrap: wrap;

	position: relative;

	padding: 10px 10px;

	background-color: var(--primary-color);
}

header h1 {
	width: 100%;
	text-align: center;
	line-height: 40px;
}

header a {
	text-decoration: none;
	color: var(--text-color);
	transition: transform 0.2s ease;
}

header hr {
	width: 90%;
	height: 5px;

	margin: 5px;
	margin-top: 20px;

	background-color: #000000;
	border-radius: 6px;
}

header>div {
	display: flex;

	border-collapse: collapse;
}

header div a {
	display: flex;
	justify-content: center;
	align-items: center;

	text-align: center;
	font-family: titles;
	font-size: 30px;
}

header div a:hover {
	transform: scale(105%);
	color: var(--text-secondary);
}

header div .page_here {
	text-decoration : 3px var(--text-secondary) underline;
	color: var(--text-secondary);
}

main {
    display: flex;
	align-self: stretch;
    justify-content: center;
	align-items: center;

	position: relative;

    width: 100%;
    min-height: 80%;

    margin: 0 auto;
}

footer {
	width: 100%;
	height: 200px;

	background-color: var(--footer-color)
}

@media only screen and (orientation: landscape) {
	#sidebar {
		flex-direction: row;

		width: 100%;
		min-height: 100vh;
	}

	header {
		align-content: start;

		width: 240px;
	}

	header>div {
		flex-direction: column;
		justify-content: start;

		width: 80%;
		height: 85%;
		max-height: 500px;
		
		margin: 5px auto;

		border-collapse: collapse;
	}

	header div a {
		width: 100%;
		height: 8%;

		margin: 20px 0;
	}
	
	main {
		width: 100%;
		min-height: 80%;
	}
}

@media only screen and (orientation: portrait) {
	#sidebar {
		flex-direction: column;

		width: 100%;
		min-height: 100vh;
	}

	header {
		justify-content: center;

		width: 100%;
		min-height: 160px;

		margin: 0 auto ;
	}

	header>div {
		justify-content: space-evenly;
		flex-wrap: wrap;

		width: 95%;
		height: 30%;

		border-collapse: collapse;
	}

	header div a {
		width: fit-content;
		min-width: 100px;
		height: 100%;

		margin: 0 20px;
	}

	main {
		width: 100%;
		min-height: 80%;
		
		flex-grow: 1;
	}
}

/* CSS for only hunt-the-wumpus page */

#game-container table {
    position: relative;

    width: 64vw;
    height: 48vw; 
    max-width: 96vh;
    max-height: 72vh;
    aspect-ratio: 8/6;
    /*
    if want a full screen mode : 
    width: 100vw;
    height: 75vw; 
    max-width: 132vh;
    max-height: 99vh;
    */

    border-collapse: separate;
    border: 10px solid black;
    border-radius: 20px;
    border-spacing: 0;

    background-color: #545a5f;

    overflow: hidden;
    box-sizing: content-box;
}

#game-container table * {
    border: 0;
    border-collapse: separate;
    border-spacing: 0;
}

#game-container tr {
    height: 15%;
}

#game-container td {
    align-items: center;
    justify-content: center;

    width: 10%;
}

#game-container .box {
    display: none;
    align-items: center;

    position: relative; 

    width: 100%;
    height: 100%;

    transform: scale(102%);

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    z-index: 0;
}

#game-container .box * {
    display: block;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    margin: 0 auto;
}

#game-container .explored {
    display: flex !important;
}

#game-container .normal {
    background-image: url(../assets/ingame/32-edited_normal.png);
}

#game-container .hole {
    background-image: url(../assets/ingame/32-edited_hole.png);
}

#game-container .near_hole {
    background-image: url(../assets/ingame/32-edited_near_hole.png);
}

#game-container .near_wumpus {
    position: absolute;

    left: 25%;

    width: 50%;
    height: 50%;

    background-image: url(../assets/ingame/32-resized_near_wumpus.png);
    z-index: 3;
}

#game-container .wumpus {
    position: absolute;

    left: 25%;

    width: 50%;
    height: 50%;

    background-image: url(../assets/ingame/32-resized_wumpus.png);
    z-index: 3;
}

#game-container .bat {
    position: absolute;

    left: 25%;

    width: 50%;
    height: 50%;

    background-image: url(../assets/ingame/32-resized_bat.png);
    z-index: 4;
}

#game-container #player {
    display: block !important;

    width: 50%;
    height: 50%;

    background-image: url(../assets/ingame/32-resized_player.png);

    z-index: 10;
}

#game-container .top-1 {
    align-self: flex-start;
    margin: 0 0 0 50%;
}

#game-container .bot-1 {
    align-self: flex-end;
}

#game-container .top-2 {
    align-self: flex-start;
    margin: 0;
}

#game-container .bot-2 {
    align-self: flex-end;
    margin: 0 0 0 25%;
}

#game-container .corridor_1 div:first-child, #game-container .corridor_1 div:last-child,
#game-container .corridor_2 div:first-child, #game-container .corridor_2 div:last-child {
    position: absolute;

    width: 100%;
    height: 100%;
}

#game-container .corridor_1 div:first-child {
    display: none;

    background-image: url(../assets/ingame/32-edited_corridor_1_top.png);

    z-index: 2;
}

#game-container .corridor_1 div:last-child {
    display: none;

    background-image: url(../assets/ingame/32-edited_corridor_1_bot.png);

    z-index: 1;
}

#game-container .corridor_2 div:first-child {
    display: none;

    background-image: url(../assets/ingame/32-edited_corridor_2_top.png);

    z-index: 2;
}

#game-container .corridor_2 div:last-child {
    display: none;

    background-image: url(../assets/ingame/32-edited_corridor_2_bot.png);

    z-index: 1;
}

/* Buttons from the move.css, from the same page */

#game-container #moving_ig {
    width: 150px;
    height: 30px;
}

#game-container .btn_move_ig {
    width: 30px;
    height: 30px;
}

/* Css from the select_difficulty page */

#difficulty-container main {
    background-color: var(--bg-difficulty) !important;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100%;
}

#difficulty-container #visual_effects {
    position: relative;
    width: 100%;

    flex-grow: 1;
    align-self: stretch;
} 

#difficulty-container .grid {
    position: absolute;

    width: 150%;
    height: 150%; 
    
    background-image: 
        linear-gradient(to right, var(--bg-grid) 2px, transparent 2px),
        linear-gradient(to bottom, var(--bg-grid) 2px, transparent 2px) !important;
    
    background-size: 50px 50px ; /* Dimensions of the background-size. */
    animation: moveGrid 2s linear infinite;
}

/* the filter of the page, that make shadow around the screen */
#difficulty-container .overlay {
    position: absolute;

    width: 100%;
    height: 100%;

    background: radial-gradient(circle, transparent 20%, var(--bg-accents) 80%);

    pointer-events: none; 
}

#difficulty-container #functional {
    position: absolute;
}

#difficulty-container form {
    position: relative;

    width: 60vw;
    max-width: 700px;
    height: 60vh;
    /* min-height: 450px; */
    max-height: 600px;
    padding : 20px;

    font-family: retro;
    text-align: center;
    letter-spacing: 2px;
    color: var(--primary-color);
    text-shadow : 2px 2px 3px var(--text-color);
    font-size: min(2.5cqw, 1.5cqh);

    background-color: var(--form) !important;
    border-radius: 10px;
    border: var(--primary-color) 2px solid;

    z-index: 999;

    container-type: size;
    container-name: form-settings;
}

#difficulty-container form h2 {
    font-size: min(9cqw, 6cqh);
}

#difficulty-container #difficulty-choice {
    margin : 10px auto 50px auto;
    padding : 10px 20px;

    font-family: retro;
    letter-spacing: 2px;

    border-radius: 20px;
    border: var(--primary-color) 2px solid;
}

#difficulty-container option[value=easy] {
    color : var(--greencolorCheckBox);
}

#difficulty-container option[value=medium] {
    color : var(--orange);
}

#difficulty-container option[value=hard] {
    color : var(--primary-color);
}

#difficulty-container .container-explanations {
    display : block;
    position: relative;

    width: fit-content;

    margin : 10px 10px 10px 47%;
}

#difficulty-container .explanations {
    display: none;
    position: absolute;

    top : 100%;
    left: 50%;
    padding : 12px 16px;

    transform: translateX(-50%);
    background-color: var(--exp-bg);
    min-width: none;
    color: var(--font-colorexp);
    text-shadow: 2px 1px var(--bg-grid);
    border-radius: 20px;
    border: var(--border-exp) 1px solid;
}

#difficulty-container .container-explanations:hover .explanations {
    display: block !important;

    width: 500px;
    
    z-index: 1;
}

#difficulty-container .checkButtonMode {
    display: flex;
    flex-direction: column;
    margin: 0.5vh 0;
}

#difficulty-container .checkButtonMode input[type="checkbox"] {
    height: 25px;
    width: 75px;

    padding-right: 25px;

    background-image : 
        -webkit-linear-gradient(hsla(0,0%,0%,.1), hsla(0,0%,100%,.1)),
        -webkit-linear-gradient(left, var(--redcolorCheckBox) 50%, var(--greencolorCheckBox) 50%);
    background-size: 100% 100%, 200% 100%;
    background-position: 0 0, 15px 0;

    border-radius: 25px;
    box-shadow : 
        inset 0 1px 4px hsla(0,0%,0%,.5),
        inset 0 0 10px hsla(0,0%,0%,.5),
        0 0 0 1px hsla(0,0%,0%,.1),
        0 -1px 2px 2px hsla(0,0%,0%,.25),
        0 2px 2px 2px hsla(0,0%,100%,.75);
    
    cursor: pointer;

    appearance: none;
    transition: 0.25s;         
}

#difficulty-container .checkButtonMode input[type="checkbox"]:after {
    display: block;

    height: 25px;
    width: 50px;

    background-color: #eee;
    background-image: -webkit-linear-gradient(hsla(0,0%,100%,.1), hsla(0,0%,0%,.1));
    
    border-radius: 25px;
    box-shadow: 
        inset 0 1px 1px 1px hsla(0,0%,100%,1),
        inset 0 -1px 1px 1px hsla(0,0%,0%,.25),
        0 1px 3px 1px hsla(0,0%,0%,.5),
        0 0 2px hsla(0,0%,0%,.25);
    
    content: '';
}

#difficulty-container .checkButtonMode input[type="checkbox"]:checked {
    background-position: 0 0, 35px 0;
    padding-left: 25px;
    padding-right: 0;
}

#difficulty-container .validateForm {
    padding: 10px;
    margin: 10px;

    font-family: retro;

    transition : transform 1s ease;
}

#difficulty-container .validateForm:hover {
    color: var(--primary-color);

    background-color: var(--hovercolor-submit);

    transform: scale(1.1);
}

#difficulty-container #soundImage {
    position: absolute;

    padding : 10px;
    margin: 20px;

    top: 0;
    right : 0;

    transition: transform 1s ease;
    z-index: 10;
}

#difficulty-container #soundImage:hover {
    background: radial-gradient(circle, rgba(34, 0, 255, 0.71) 20%, transparent 80%);

    transform: scale(1.3);
}


@keyframes moveGrid {
    from {
        transform: translate(0, 0);
    }
    to {
        /* Déplacement d'exactement un carreau (c'est sa qui rend l'animation fluide)*/
        /* X positif = droite, Y négatif = haut */
        transform: translate(-50px, -50px); 
    }
}

@container form-settings (max-width: 1000px) {
    #difficulty-container #text {
        height: 20%;
        font-size: min(3.5cqw, 2.5cqh);
    }
}

/* Css for the settings page */

#settings_container main {
    background-color: var(--bg-difficulty) !important;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100%;
}

#settings_container #visual_effects {
    position: relative;
    width: 100%;

    flex-grow: 1;
    align-self: stretch;
}

#settings_container .grid {
    position: absolute;

    width: 150%;
    height: 150%;
    
    background-image: var(--gridColorSettings);
        
    background-size: 50px 50px;
    animation: move-it 5s linear infinite;
}

#settings_container .backgroundAnimationRings
{
    position : absolute;
    width: 150%;
    height: 150%;
    background-image: 
        url('../assets/gif/Ring.webp');
    background-size: 75px 75px;
    background-repeat: repeat;

    mask-image: var(--maskImageColorBg);
    mask-size: 15% 60%;
    mask-repeat: repeat;

    animation: moveBackground 2s linear infinite;
    filter: hue-rotate(180deg) saturate(2);
}

#settings_container .backgroundAnimationRings::before
{
    content: '';
    position: absolute;
    
    width: 100%;
    height: 100%;
    background-image: var(--bgImageSettingsAnimationColor);
    background-size: 3000% 30%, 1% 0%; /* 1000% 30%, 10% 10%; */
    background-position: 0 0, 10% 100%;
    background-repeat: repeat;
    pointer-events: none;

    animation: moveUp 2s linear infinite;
}

/* Target Input */
#settings_container .slider {
  appearance: none;
  -webkit-appearance: none;
  width: 100%;
  padding: 15px;
  background: transparent;
  cursor: pointer;
  --range-pct : 50%;
}

/* --- Webkit Browsers --- */
#settings_container .slider::-webkit-slider-runnable-track {
  height: 20px;
  background: linear-gradient(to right, #44ff00 var(--range-pct, 0%), #ff0000 var(--range-pct, 0%));
  border-radius: 11px;
  border: 4px solid #fffaff;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.9);
}

#settings_container .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 34px;
  width: 34px;
  background: #ffffff;
  border-radius: 14px;
  border: 7px solid #99a4a8;
  box-shadow: 0px 4px 16px rgba(0, 179, 255, 0.8);
  margin-top: -11px;
}

/* --- pour firefox --- */
#settings_container .slider::-moz-range-track {
  height: 20px;
  background: linear-gradient(to right, #44ff00 var(--range-pct, 0%), #ff0000 var(--range-pct, 0%));
  border-radius: 11px;
  border: 4px solid #fffaff;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.9);
}

#settings_container .slider::-moz-range-thumb {
  height: 34px;
  width: 34px;
  background: #ffffff;
  border-radius: 14px;
  border: 7px solid #99a4a8;
  box-shadow: 0px 4px 16px rgba(0, 179, 255, 0.8);
}

/* le filtre */
#settings_container .overlay {
    position: absolute;

    width: 100%;
    height: 100%;

    background: radial-gradient(circle, transparent 70%, white 150%);

    pointer-events: none;
}

#settings_container #functional {
    position: absolute;
}

#settings_container form {
    position: relative;

    height: 100%;
    min-height: fit-content;
    padding : 20px;

    font-family: retro;
    text-align: center;
    letter-spacing: 2px;
    color: var(--primary-color);
    text-shadow : 2px 2px 3px var(--text-color);

    background-color: var(--form) !important;
    border-radius: 10px;
    border: var(--primary-color) 2px solid;

    z-index: 999;
}

#settings_container #difficulty-choice {
    margin : 10px auto 50px auto;
    padding : 10px 20px;

    font-family: retro;
    letter-spacing: 2px;

    border-radius: 20px;
    border: var(--primar) 2px solid;
}

#settings_container option[value=ez] {
    color : var(--easy);
}

#settings_container option[value=meh] {
    color : var(--medium);
}

#settings_container option[value=hard] {
    color : var(--hard);
}

#settings_container .diff-tuto {
    display : block;
    position: relative;

    width: fit-content;

    margin : 10px 10px 10px 47%;
}

#settings_container .explications {
    display: none;
    position: absolute;

    top : 100%;
    left: 50%;
    padding : 12px 16px;

    transform: translateX(-50%);
    background-color: var(--exp-bg);
    min-width: none;
    color: var(--font-colorexp);
    text-shadow: 2px 1px var(--bg-grid);
    border-radius: 20px;
    border: var(--border-exp) 1px solid;
}

#settings_container .diff-tuto:hover .explications {
    display: block !important;

    width: 500px;
    
    z-index: 1;
}

#settings_container .onoff {
    display: flex;
    flex-direction: column;
    padding : 20px;
    gap: 10px;
}

#settings_container .onoff input[type="checkbox"] {
    height: 25px;
    width: 75px;

    padding-right: 25px;

    background-image : 
        -webkit-linear-gradient(hsla(0,0%,0%,.1), hsla(0,0%,100%,.1)),
        -webkit-linear-gradient(left, var(--redcolorCheckBox) 50%, var(--greencolorCheckBox) 50%);
    background-size: 100% 100%, 200% 100%;
    background-position: 0 0, 15px 0;

    border-radius: 25px;
    box-shadow : 
        inset 0 1px 4px hsla(0,0%,0%,.5),
        inset 0 0 10px hsla(0,0%,0%,.5),
        0 0 0 1px hsla(0,0%,0%,.1),
        0 -1px 2px 2px hsla(0,0%,0%,.25),
        0 2px 2px 2px hsla(0,0%,100%,.75);
    
    cursor: pointer;

    appearance: none;
    transition: 0.25s;         
}

#settings_container .onoff input[type="checkbox"]:after {
    display: block;

    height: 25px;
    width: 50px;

    background-color: #eee;
    background-image: -webkit-linear-gradient(hsla(0,0%,100%,.1), hsla(0,0%,0%,.1));
    
    border-radius: 25px;
    box-shadow: 
        inset 0 1px 1px 1px hsla(0,0%,100%,1),
        inset 0 -1px 1px 1px hsla(0,0%,0%,.25),
        0 1px 3px 1px hsla(0,0%,0%,.5),
        0 0 2px hsla(0,0%,0%,.25);
    
    content: '';
}

#settings_container .onoff input[type="checkbox"]:checked {
    background-position: 0 0, 35px 0;
    padding-left: 25px;
    padding-right: 0;
}

#settings_container .validate {
    padding: 10px;
    margin: 10px;

    font-family: retro;

    transition : transform 1s ease;
}

#settings_container .validate:hover {
    color: var(--primary-color);

    background-color: var(--hovercolor-submit);

    transform: scale(1.1);
}

#settings_container .checkSound
{
    display: inline-block;
}

#settings_container #sound
{
    margin : 10px;
}

#settings_container #sound:hover {
    background: radial-gradient(circle, var(--hover-effect-muteButton1) 20%, transparent 80%);

    transform: scale(1.3);
}

/* @keyframes moveGridjsp {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translate(-50px, -50px); 
    }
} */

/* @media (max-height : 634px) {
    .explications  {
        width : 300px;

        font-size: 10px;
    }
}

@media (max-height : 500px) {
    .explications {
        font-size: 8px;
    }

    #sound {
        z-index: 1000;
    }

    h2,.diff-tuto,p,.onoff,.validate, #difficulty-choice {
        padding: 2px;

        font-size: 12px;
    }
}

@media (max-height : 400px) {
    .help {
        width: 16px;
        height: 16px;
    }

    h2,.diff-tuto,p,.onoff,.validate, #difficulty-choice {
        display: inline-block;

        padding: 2px;
        right : 25%;
        
        font-size: 8px;
    }
} */

@keyframes move-it
{
    0%
    {
        background-position: initial;
    }
    100%
    {
        background-position: 400px 500px;
        
    }
}

@keyframes moveBackground
{
    0%
    {
        background-position: initial;
        mask-position: initial;
    }
    100%
    {
        background-position: 400px 500px;
        mask-position: 35% 0;
    }
}

@keyframes moveUp
{
    0%
    {
        mask-position: initial;
    }
    100%
    {
        background-position: 0% 42%;
    }
}

/* Css for the stats page. */

#stats-container main {
    background-color: var(--bg-difficulty) !important;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100%;
}

#stats-container #visual_effects {
    position: relative;
    width: 100%;

    flex-grow: 1;
    align-self: stretch;
} 

#stats-container .grid {
    position: absolute;

    width: 150%;
    height: 150%;
    
    background-image: 
    url('../assets/gif/star-spinning.gif');
    
    background-size: 300px 300px ;
    animation: moveGridStats 2s linear infinite;
}

/* le filtre */
#stats-container .overlay {
    position: absolute;

    width: 100%;
    height: 100%;

    background: radial-gradient(circle, transparent 20%, var(--bg-accents) 80%);

    pointer-events: none;
}

#stats-container #functional {
    position: absolute;
}

#stats-container table
{
    display: none;
}

#stats-container #click
{
    color : white;
    font-weight: bolder;
    font-family: retro;
    font-size : 40px;
    text-align: center;
    text-shadow: 2px 1px var(--bg-grid);
}

#stats-container table,td,th
{
    background: var(--leaderboardPrimary-color);
    font-family: titles;
    border-collapse: collapse;
    border: 2px solid var(--leaderboardBorder);
    padding : 5px;
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 2px 1px var(--bg-grid);
    font-size: 20px;
}

#stats-container tr:hover td, 
#stats-container tr:hover th :not(tr:nth-child(1) td)
{
    background-color: rgba(215, 220, 224, 0.568);
    color: white !important;
    font-size: 2em !important;
}

#stats-container tr:nth-child(2) td
{
    background-color: rgba(255, 217, 0, 0.663) !important;
    font-size: 32px  
}

#stats-container tr:nth-child(3) td
{
    background-color: rgba(192, 192, 192, 0.663) !important;
    font-size: 28px;    
}

#stats-container tr:nth-child(4) td
{
    background-color: rgba(210, 105, 30, 0.633) !important;
    font-size: 24px;
}

@keyframes moveGridStats {
    from {
        transform: translate(0, 0);
    }
    to {
        /* Déplacement d'exactement un carreau (c'est sa qui rend l'animation fluide)*/
        /* X positif = droite, Y négatif = haut */
        transform: translate(-50px, -50px); 
    }
}

/* Css for the title screen */

#title-screen-container /* html, body */
{
    background-color: var(--text-color) !important;
    height: 100%;
}

#title-screen-container #container-texts
{
    margin: auto;
    height: 100%;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50vh;
}

#title-screen-container .firsttext, #title-screen-container .secondtext
{
    color: var(--ui-red);
    font-family: titles;
    font-size: 6vh;
    text-align: center;
    letter-spacing: 0.5vh;
    text-shadow : 2px 2px 4px var(--ui-yellow), 0 0 25px var(--ui-yellow), 0 0 5px var(--primary-color);
}

#title-screen-container .secondtext
{
    animation : flicker 3s infinite;
}

#title-screen-container .keyPressed
{
    animation: flicker 0.2s 10 !important;
    color : var(--primary-color) !important;
}

#title-screen-container #container-texts.fin-anim
{
    animation : none !important;
}

@keyframes flicker
{
    20%,80% {opacity: 1;}
    50% {opacity: 0;}
}



