<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block page_title %}Wumpus{% endblock %}</title>
    <link rel="icon" href="{{url_for('static', filename='assets/wumpus-discord.png')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/common.css')}}">
    {% block add_css_js %} {% endblock %}
</head>
<body>
    <div id="sidebar">
        <header>
            <h1><a href="/">Hunt the Wumpus</a></h1>
            <hr>
            <div>
                <a href="/" {% block class_home %} {% endblock %}>Home</a>
                <a href="/select-difficulty" {% block class_play %} {% endblock %}>Play</a>
                <a href="/settings" {% block class_settings %} {% endblock %}>Settings</a>
                <a href="" {% block class_stats %} {% endblock %}>Stats</a>
            </div>
        </header>

        <main>
            {% block main_content %} 
                <h1>ERROR 404</h1>
                <br>
                <img src="{{url_for('static', filename='wumpus-discord.png')}}">
                <h1><a href="/">Routourner à l'acceuil</a></h1>
            {% endblock %}
        </main>
    </div>

    <footer>
        <!---->
    </footer>
</body>
</html>