{% extends "base.html" %}

{% block page_title %}Play - Hunt the Wumpus{% endblock %}

{% block add_css_js %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/game.css')}}"/>
    <link rel="stylesheet" href="{{url_for('static', filename='css/move.css')}}"/>
    <script src="{{url_for('static', filename='js/move.js')}}"></script>
{% endblock %}

{% block class_play %} class="page_here" {% endblock %}

{% block main_content %}
    <div id="ig_game_container">
        <table id="ig_game_grid">
            {% for row in grid %}
                <tr>
                    {% for col in row %}
                        <td>
                            {% set divs = '' %}
                            {% set ex_top = '' %}
                            {% set ex_bot = '' %}
                            {% set css_class = '' %}
                            {% set ex = False %}

                            {% if col[1] == True %}
                                {% set css_class = 'explored' %}
                                {% set ex_top = ' explored' %}
                                {% set ex_bot = ' explored' %}
                                {% set ex = True %}

                            {% elif col[1] == 10 %}
                                {% set css_class = 'explored' %}
                                {% set ex_top = ' explored' %}
                                {% set ex = True %}

                            {% elif col[1] == -9 %}
                                {% set css_class = 'explored' %}
                                {% set ex_bot = ' explored' %}
                                {% set ex = True %}

                            {% elif col[1] == 4 %}
                                {% set css_class = 'explored' %}
                                {% set divs = '<div class="shooted"></div>' %}
                                {% set ex = True %}
                            {% endif %}



                            {% if ex %}
                                {% if col[0] == 0 %}
                                    {% set css_class = css_class + ' normal' %}

                                    {% if col[2] %}
                                        {% set divs = divs + '<div id="player"></div>' %}
                                    {% endif %}
   

                                {% elif col[0] == 1 %}
                                    {% set css_class = css_class + ' corridor_1' %}

                                    {% if not col[2] %}
                                    {% elif col[2] == 8 %}
                                        {% set divs = divs + '<div id="player" class="top-1"></div>' %}

                                    {% elif col[2] == -7 %}
                                        {% set divs = divs + '<div id="player" class="bot-1"></div>' %}
                                    {% endif %}


                                {% elif col[0] == 2 %}
                                    {% set css_class = css_class + ' corridor_2' %}

                                    {% if not col[2] %}
                                    {% elif col[2] == 8 %}
                                        {% set divs = divs + '<div id="player" class="top-2"></div>' %}

                                    {% elif col[2] == -7 %}
                                        {% set divs = divs + '<div id="player" class="bot-2"></div>' %}
                                    {% endif %}
        

                                {% elif col[0] == 4 %}
                                    {% set css_class = css_class + ' near_hole' %}

                                    {% if col[2] %}
                                        {% set divs = divs + '<div id="player"></div>' %}
                                    {% endif %}


                                {% elif col[0] == 8 %}
                                    {% set css_class = css_class + ' hole' %}

                                    {% if col[2] %}
                                        {% set divs = divs + '<div id="player"></div>' %}
                                    {% endif %}
                                {% endif %}

                                    

                                {% if col[3] == 16 or col[3] == 80 or col[3] == 272 %}
                                    {% set divs = divs + '<div class="near_wumpus"></div>' %}
                                {% endif %}

                                {% if col[3] == 32 %}
                                    {% set divs = divs + '<div class="wumpus"></div>' %}
                                {% endif %}

                                {% if col[3] == 64 or col[3] == 80 or col[3] == 256 or col[3] == 272 %}
                                    {% set divs = divs + '<div class="bat"></div>' %}
                                {% endif %}
                                
                            {% endif %}

                            <div class="box {{css_class}}">
                                <div class="{{ex_top}}"></div>
                                {{ divs | safe }}
                                <div class="{{ex_bot}}"></div>
                            </div>
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
        <form id="ig_moving" method="get">
            <button type="submit" class="ig_btn_move" id="ig_btn_move-top" name="y" value="-1"></button>
            <button type="submit" class="ig_btn_move" id="ig_btn_move-bot" name="y" value="1"></button>
            <button type="submit" class="ig_btn_move" id="ig_btn_move-left" name="x" value="-1"></button>
            <button type="submit" class="ig_btn_move" id="ig_btn_move-right" name="x" value="1"></button>
            <input type="checkbox" class="ig_btn_move" id="ig_shoot" name="shoot" value="True"></button>
        </form>
    </div>
{% endblock %}