{% extends "base.html" %}

{% block page_title %}Play - Hunt the Wumpus{% endblock %}

{% block add_css_js %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/game.css')}}"/>
{% endblock %}

{% block class_home %} class="page_here" {% endblock %}

{% block main_content %}
    <table>
        {% for row in grid %}
            <tr>
                {% for col in row %}
                    <td>
                        {% if col[0] == 0 %}
                            {% set css_class = 'normal'  %}

                            {% if col[2] %}
                                {% set divs = '<div id="player"></div>' %}
                            {% endif %}

                        {% elif col[0] == 1 %}
                            {% set css_class = 'corridor_1'  %}
                            {% set ex_top = ' explored' %}
                            {% set ex_bot = ' explored' %}

                            {% if not col[2] %}
                            {% elif col[2] == 1 %}
                                {% set divs = '<div id="player" class="top-1"></div>' %}

                            {% elif col[2] == -1 %}
                                {% set divs = '<div id="player" class="bot-1"></div>' %}
                            {% endif %}

                        {% elif col[0] == 2 %}
                            {% set css_class = 'corridor_2' %}
                            {% set ex_top = ' explored' %}
                            {% set ex_bot = ' explored' %}

                            {% if not col[2] %}
                            {% elif col[2] == 1 %}
                                {% set divs = '<div id="player" class="top-1"></div>' %}

                            {% elif col[2] == -1 %}
                                {% set divs = '<div id="player" class="bot-1"></div>' %}
                            {% endif %}
                        {% endif %}

                        {% if col[1] %}
                            {% set css_class = css_class + ' explored' %}

                        {% elif not col[1] %} <!-- To stop testing values below -->

                        {% elif col[1] == 1 %}
                            {% set css_class = css_class + ' explored' %}
                            {% set ex_top = ' explored' %}

                        {% elif col[1] == -1 %}
                            {% set css_class = css_class + ' explored' %}
                            {% set ex_bot = ' explored' %}

                        {% elif col[1] == 2%}
                            {% set css_class = css_class + ' explored' %}
                            {% set ex_top = ' explored' %}
                            {% set ex_bot = ' explored' %}
                        {% endif %}

                        <div class="box {{css_class}}">
                            <div class="{{ex_top}}"></div>
                            {{divs | safe}}
                            <div class="{{ex_bot}}"></div>
                        </div>
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}