{% extends "base.html" %}

{% block page_title %}Login - Hunt the Wumpus{% endblock %}

{% block add_css_js %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/common.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/login.css')}}"/>
    <script src="{{url_for('static', filename='js/login.js')}}"></script>
{% endblock %}

{% block class_home %} class="page_here" {% endblock %}

{% block main_content %}
    <div class="login-container">
        <h1>Login</h1>
        <form id="login-form" method="POST" action="/login">
            {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                {% for category, message in messages %}
                  <div class="alert alert-{{ category }}" role="alert">
                    {{ message }}
                  </div>
                {% endfor %}
              {% endif %}
            {% endwith %}
            <div id="labels-form">
                <label class="label" for="username">Username</label>
                <input class="input" type="text" name="username" placeholder="Username" autofocus>
                <label class="label" for="password">Password</label>
                <input class="input" type="password" name="password" placeholder="Password">
            </div>
            <div id="buttons-form">
                <button id="login" type="submit"></button>
                <button id="register" type="button"></button>
            </div>
        </form>
    </div>
{% endblock %}
