<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/common.css">
</head>
<body>
    <div id="sidebar">
        <header>
            <h1 href="../index.html">Hunt the Wumpus</h1>
            <hr>
            <div>
                <a>Home</a>
                <a>Play</a>
                <a>Settings</a>
                <a>Stats</a>
            </div>
        </header>

        <main>
            <!---->
        </main>
    </div>

    <footer>
        <!---->
    </footer>
</body>
</html>