{% extends "base.html" %}

{% block page_title %}Difficulty - Hunt the Wumpus{% endblock %}

{% block add_css_js %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/select-difficulty.css')}}" />
    <script src="{{url_for('static', filename='js/select-difficulty.js')}}"></script>
{% endblock %}

{% block class_play %} class="page_here" {% endblock %}

{% block main_content %}
    <div id="visual_effects">
        <div class="grid"></div>
        <div class="overlay"></div>
    </div>
    <img id="soundImage" src="{{url_for('static', filename='assets/SoundWhite.png')}}" width="70" height="70">

    <div id="functional">
        <audio id="son1" preload="auto">
            <source id="son" src="{{url_for('static', filename='assets/sounds/Move.mp3')}}" type="audio/mp3">
        </audio>
        <audio id="son2" preload="auto">
            <source src="{{url_for('static', filename='assets/sounds/License-move.mp3')}}" type="audio/mp3">
        </audio>
        <audio id="son3" preload="auto">
            <source src="{{url_for('static', filename='assets/sounds/License-select.mp3')}}"type="audio/mp3">
        </audio>
        <form id="form">
            {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                {% for category, message in messages %}
                  <div class="alert alert-{{ category }}" role="alert">
                    {{ message }}
                  </div>
                {% endfor %}
              {% endif %}
            {% endwith %}
            <h2>Game parameters</h2>
            <div class="container-explanations">
                <img class="helpImage" src="{{url_for('static',filename='assets/QuestionMark.png')}}">
                <div class="explanations">Easy : One bat, less corridors, 1 hole.<br><br>Normal : 2 bats, 1 hole.<br><br>Hard : 2 bats, more corridors, 2 holes.</div>
            </div>
            <label for="difficulty-choice"><p>Select the difficulty</p></label>
            <br>
            <select id="difficulty-choice">
                <option value="easy">Easy</option>
                <option value="medium">Normal</option>
                <option value="hard">Hard</option>
            </select>
            <p>Game Mode</p>
            <div class="container-explanations">
                <img class="helpImage" src="{{url_for('static', filename='assets/QuestionMark.png')}}">
                <div class="explanations">
                    Express Mode : You can't stay in a corridor, you directly go out
                    <br><br>Blind Mode : You only your case. Remember your path, or die...
                    <br><br>Attention : the two modes can be activated
                </div>
            </div>
            <div class="checkButtonMode">
                <label class="selectGamemode">Express Mode
                    <input type="checkbox">
                </label>
                <label class="selectGamemode">Blind Mode
                    <input type="checkbox">
                </label>
            </div>
            <input class="validateForm" type="submit" value="Play">
        </form>
    </div>
{% endblock %}
